<body style="
    background: #0000006b;
">

</html>
<h1>Burguer do Zé</h1>
Burguer do Zé<br>
O Melhor Lanche da Região!<br>
<img src="https://www.revistamenu.com.br/wp-content/uploads/2020/05/diadoburger-1050x580.jpg" style="
    width: 239px;
    ">

</body>